{% extends 'alphapillpal/base.html' %}

{% block content %}
    {% if error_message %}
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"> &times; </a>
        <strong>Error!</strong> {{ error_message }}
    </div>
    {% endif %}
    <h1>Medications</h1>
    <table id="meds" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Time(s)</th>
                <th>Day(s)</th>
                <th>Remove?</th>
            </tr>
        </thead>
        <tbody>
            {% for medication in user.medication_set.all %}
            <tr>
                <td>{{ medication.name }}</td>
                <td>{{ medication.get_times }}</td>
                <td>{{ medication.get_days }}</td>
                <td><button class="btn btn-lg">Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'alphapillpal:addMedication' %}"><button class="btn btn-lg col-md-offset-4 col-md-4 col-centered">Add Medication</button></a>
        
{% endblock %}