{% extends 'alphapillpal/base.html' %}

{% block content %}
    <h1>Welcome to Alpha Pill Pal!</h1>
    <h2>Patients</h2>
    <p>Have you ever forgetten to take your medicine on time? Have you ever forgotten what medicine to take? That's why we're here. We will message and/or call you for free, so you will never have to worry about forgetting your meds again!</p>
    <h2>Doctors</h2>
    <p>Alpha Pill Pal will help you connect with your patients by simplifying the prescription process. On top of that, we make it simpler and easier to remind patients to take their perscriptions as scheduled.</p>
    {% if error_message %}
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"> &times; </a>
            <strong>Error!</strong> {{ error_message }}
        </div>
    {% endif %}
    <form class="form-horizontal" role="form" action="" method="POST" id="form">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-md-3" for="email">Email:</label>
            <div class="col-md-7">
                <input class="form-control" id="email" name="email" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3" for="password">Password:</label>
            <div class="col-md-7">
                <input class="form-control" type="password" id="password" name="password" />
            </div>
        </div>
        <!--
            Remember me cookies
        -->
        <div class="form-group">
            <div class="col-md-offset-5">
                <input type="submit" class="btn btn-default col-md-4"
                       value="Log in" />
            </div>
        </div>
        <div class="forgotten">
            <!--<p><a href="#">Click here</a> if you forgot your password.</p>-->
        </div>
        <div class="create">
            <p>To make a new account <a href="{% url 'alphapillpal:create' %}">click here.</a></p>
        </div>
    </form>

{% endblock %}
